  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
}
.image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-size: xx-large;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color:#17A2B8;
  padding: 1rem;
  font-size: medium;
  font-weight: bold;
  
}
.active{
  text-decoration: none;
  color: white
}

.inactive{
  text-decoration: none;
  color: grey;
}
.titulo{
  margin:0
}
.galeria{
  display:grid;
  border: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  margin-top: 1em;
}
ul{
  text-align: justify;
}
.ing{
  text-align: justify;
}
.pizzaDesc{
  display: flex;
  justify-content: center;
  padding: 5rem;
}
#uldesc{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
}