  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
}
.image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-size: xx-large;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color:#17A2B8;
  padding: 1rem;
  font-size: medium;
  font-weight: bold;
  
}
.active{
  text-decoration: none;
  color: white
}

.inactive{
  text-decoration: none;
  color: grey;
}
.titulo{
  margin:0
}
.galeria{
  display:grid;
  border: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  margin-top: 1em;
}
ul{
  text-align: justify;
}
.ing{
  text-align: justify;
}

.carrito-card{
  display: flex;
  height: 100px;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 3rem;
  
}
.carrito-img{
height: 50px;
width: 50px;
}
.carrito-cont{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.carrito-b1{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.cont{
  padding: 5rem;  
  background-color: #F8F9FA;
}
.pizzaDesc{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: justify;
  padding: 5rem;
  margin-top: 10px;
  margin-inline: 40px;
}
.desc-img{
  height: 500px;
  width: 700px;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.desc-body{
  width: 50%;
  margin-left: 20px;
  padding: 1rem;
  
}
.desc-ingredients{
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.desc-price{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
